body{
background-color: #086108;
text-align: center;
font-size: x-large;
}

.pccard {
    width: 100px;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: dimgrey;
    position: relative;
    float: left;
}

#level1{
    height: 50px;
    margin-left: 55%;
    margin-bottom: 30px;
    background-color: palegreen;
    position: relative;
    float: left;
    font-size: large;
}

#level2{
    height: 50px;
    margin-left: 55%;
    margin-bottom: 30px;
    background-color: palegreen;
    position: relative;
    float: left;
    font-size: large;
}

#level3{
    height: 50px;
    margin-left: 55%;
    margin-bottom: 30px;
    background-color: palegreen;
    position: relative;
    float: left;
    font-size: large;
}

#ziehstapel{
    width: 200px;
    height: 300px;
    position: static;
    float: none;
    margin-top: 10%;
    margin-left: -80%;
    background-color: dimgrey;
    font-size: x-large;
}

#ablagestapel{
    width: 200px;
    height: 300px;
    position: static;
    float: none;
    margin-top: -19.80%;
    margin-left: 30%;
    border-style: solid;
    border-color: rgb(184, 29, 29);
    font-size: x-large;
}

.playercard {
    width: 150px;
    height: 225px;
    margin-left: 30px;
    margin-top: 2%;
    background-color: peru;
    position: relative;
    float: right;
}