body {
    background-color: black;
    color: lavender;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#c {
    margin-left: 34%;
    margin-right: 50%;
    margin-top: 3%;
}