body {
    background-color: black;
    color: lavender;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

canvas{
  float: center;
  width: 100%; /* The width is 50%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  body, canvas {
    width: 80%; 
  }
}