body {
    background-color: darkcyan;
}

#div0 {
    background-color: darkgray;
    width: 30%;
    height: 50%;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 20%; 
} 

#div0 {
    background-color: darkgray;
    width: 30%;
    height: 50%;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 20%; 
} 