body {
    background-color: darkslategrey;
    color: silver;
}

header {
    text-align: center;
}
#f1 {
position: relative;
width: 45%;
}
#f2 {
    position: relative;
    width: 45%;
    }

#f3 {
    position: relative;
    width: 45%;
    float: right;
    margin-top: -55%;
    }
h2 {
    text-align: center;
}

button {
    background-color: grey;
    color: honeydew;
}

button:hover {
    background-color: black;
}
